
.input-error {
    border-color: red;
}

.input-success {
    border-color: green;
}

.error-message {
    color: red;
    display: none;
}

.td_title {
    cursor: pointer;
}

.td_title:hover {
    font-size: 1.05em;
    font-weight: 600;
}

a{
    text-decoration: none;
    color:black;
}

@media only screen and (max-width: 768px){
    .container{
      width: 500px;
      height: auto;
      font-size: 12px;
    }
  }